.box_model {
  p {
    margin: 0;
    padding: 0;
  }
}

.collapse_box {
  height: 50px;
  width: 200px;
}

.pink_box {
  background-color: #f78cac;
  margin-bottom: 50px;
}

.blue_box {
  background-color: #7db7ff;
  margin-top: 30px;
}

.collapse_parent_box {
  background: #ffeab0;
  margin-top: 40px;
}

.collapse_child_box {
  height: 50px;
  background: #ffa96b;
  margin-top: 30px;
}

.note-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border: 1px solid #ccc;
}

.note-flex-item {
  width: 100px;
  height: 50px;
  background-color: lightblue;
  text-align: center;
  line-height: 50px;
}
